/cluster/toydb*/data
/data
/docs/crate/target
/target
.DS_Store
.vscode/
**/*.rs.bk
.venv/
.zed/

# Terraform GitIgnore

# 1. Local Secrets & Keys
/terraform/keys/*.json
__pycache__
*.json

# 2. Local working directory (Contains downloaded plugins and binaries)
.terraform/

# 3. Terraform State Files (Contains highly sensitive infrastructure data)
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# 4. Variables files
*.tfvars
*.tfvars.json

# 5. Override files (Used for local testing tweaks)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 6. CLI configuration file
.terraformrc
terraform.rc
